/*body {
    font-family: Arial;
 background-color: blue;*
    margin-top: 75px;
    
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}*/

/* CSS Document */
body {
	margin: 0px 0px 0px 0px;
	font-family: "Lucida Grande", Verdana, Halvetica, sans-serif;
	text-align: center;	
}
a:hover {
	color: #069;
	text-decoration: none;
}
a {
	color: #990000;
	text-decoration: none;
}
#container {
	height:700px;
	border: 1px solid #C20000;		
	font-weight: normal;
	margin: 0px auto 0px auto;
	width: 686px;
	text-align: center;
	
}
#main {
	padding-top: 50px;
	padding-bottom: 50px;
	height: auto;
}

#title {
	margin: 0px auto;
	width: 686px;
	height: 96px;
	background: url(../images/topbar.jpg) no-repeat;
	height:49px;
	font-family: Algerian, "Times New Roman", Times, serif; 
	font-size: 36px;
	color: #FFF;
	font-weight: normal;
	font-size:36px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 28px;
}
#dollarimg{
	background:url(../images/Yen.jpg) no-repeat;
	float:right;
	margin-top:0px;
	margin-right:10px;
	height:71px;
	width:73px;
	}

#middle  h5{	
   	background-image: url(../images/menubar.jpg);
	background-repeat: repeat-x;
	margin: -3px auto auto auto;
   	font-size: 12px;
	text-align: right;
}

#content {
	padding: 0px 15px 1px 20px;
	margin: 20px auto 2px auto;
	text-align: left;
	width:450px;
}

#content h2 {
	color: #993300;
	font-weight: bolder;
	font-size: 14px;
	padding: 0px 135px 0px 10px;
}

#content h2 a{
	color: #990000;
	text-decoration: none;
}

#content h3 {
	color: #000000;
	font-size: 10px;
	letter-spacing: .3em;
	padding: 0px 135px 0px 10px;
	text-decoration: underline;
}

#content p {
	padding: 0px 170px 0px 10px;
	font-size: 70%;
	line-height: 1.7em;
	margin: 0px 0px 1.7em 0px;
	vertical-align: top;
	color: #666666;
}

#footertext {
	font-size: 10px;
	font-weight: bold;
	margin: 25px auto 0px;
	height: 20px;
	text-align: center;
	color: #FFFFFF;
}

#footerbar
{	border:1px solid;
	width: 686px;
	height: 41px;
	margin: 0px auto;
	background-image:url(../images/footbar.jpg);
	background-repeat:no-repeat;
	bottom:0px;	
}